<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
</head>
<body>
    <h1>Carrito de compras</h1>

    {{#if cart}}
        <table>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {{#each cart.products}}
                    <tr>
                        <td>{{this.id_prod.title}}</td>
                        <td>{{this.quantity}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <p>No hay productos en el carrito.</p>
    {{/if}}

</body>
</html>